
<div class='title-create'>
<h2>Create a new drone</h2>
</div>

<div class="create-form">
    <div class='create-card'>



<form action="/drones/create" method="post" >
<div class='form'>
    <div class='textfield-div'>
        <label>Name: </label>
        <input type="text" name="name">
    </div>

<div class='textfield-div'>
<label>
    Propellers:
   
</label>
<input type="number" name="propellers">
</div>

<div class='textfield-div'>
<label>
    Max Speed:

   
</label>
<input type="number" name="maxSpeed">
</div>
<div class='textfield-div'>
     <button type='submit' class="btn btn-success">Create</button>

</div>
</div>
   
</form>    </div>
</div>


